.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.todoMeta {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.todoText {
  width: 500px;
}

.todoMain {
  display: flex;
  gap: 20px;
}

.todoCheckbox {
  width: 20px;
}

.todoPriority {
  margin-right: 0px;
  border-radius: 10px;
  padding: 5px;
  width: 140px;
  text-align: center;
}

.highPriority {
  background-color: rgb(255, 215, 215);
  color: rgb(220, 57, 57);
}

.mediumPriority {
  background-color: rgb(255, 243, 212);
  color: rgb(210, 170, 62);
}

.lowPriority {
  background-color: rgb(196, 253, 216);
  color: rgb(60, 250, 60);
}

.todoTag {
  text-align: center;
  width: 140px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(213, 226, 254);
  color: rgb(104, 153, 252);
}

.todoDeleteButton {
  font-size: 0.9em;
  border-radius: 10px;
  width: 140px;
}

/* .personalTag {
  background-color: rgb(111, 152, 255);
}

.leisureTag {
  background-color: rgb(128, 253, 132);
}

.studyTag {
  background-color: rgb(253, 190, 128);
}

.workTag {
  background-color: red;
} */
